.container {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    background: rgb(139, 128, 65);
    margin-top:
}

body {
    background: rgb(160, 103, 51);
    font-family: "Arial", Helvetica, sans-serif;
    color: #ffffff;
}

.box {
    padding: 20px;
    border: 1px solid rgb(16, 71, 2);
    display: inline-block;
    margin: 10px;
}

.head {
    background: green;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

#animalImage {
    text-align: center;
    padding: 5px;
}